body{
    height: 5525px;
    font-family: "Helvetica",sans-serif;
    color: white;
}
h1,h2,h3{
    font-family: "Athelas",serif;
    font-size: 3em;
}
p{
    font-family:"Athelas",serif;
    font-size: 2em;
}

.page{
    width: 100vw;
    height: 850px;
}
#title{
    background: url("../img/rover.jpg");
    background-size: cover;
    background-attachment: fixed;
    
}
.arrow{
    margin: 0 auto;
    position: absolute;
    background: url('../img/arrowdown.svg') no-repeat;
    width:50px;
    height: 50px;
    top: 800px;
    right: 0;
    left: 0;

}
#exped{
    z-index: 2;
    background: url("../img/exped.jpg");
    background-size: cover;
    text-align: center;
    h2{
        margin-top: 0;
        margin: 0 auto;
        padding-top: 10vh;
        width: 80%;
    }

}

.desc{
    width: 80vw;
    margin: 0 auto;
}
#recon{
    background: url("../img/recon.jpg");
    background-attachment: fixed;
    background-size: cover;
    h2{
        margin-top: 0;
    }
}
#recov{
    background: url("../img/ship.jpg");
    
    background-size: cover;
}
#extra{
    background: url("../img/extract.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#hunts{
    background: url("../img/ship.jpg");
    background-size: cover;
}
#foote{
    height: 50vh;
    
    background: black;
    background-size: cover;
}
.logo{
    background: url("../img/sunlogo.svg") no-repeat center center;
    width: 30vw;
    height: 20vh;
    position: relative;
}
.blackbox{
    z-index: 2;
    position: absolute;
    height: 850px;
    top: 0;
    bottom: 0;
    
    right: 0;
    left: 0;
    background: rgba(0,0,0,1);
    opacity: 0;
    
}

.exdex{
    z-index: -5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5vw;
    width: 60%;
    margin: 0 auto;
    transition: 1s;
    

}


.exgr{
    font-family: "Athelas", serif;
    font-size: 2em;
    height: 50vh;
    text-align: center;
    background: rgba(0,0,0,.5);
    transition: 1s ease-in;
    border-radius: 5px;
    
}

#arctic{
    
}
#arctic:hover{
        background-size: cover;
        
        background: url('../img/arctic.jpg') no-repeat center ;
}
#desert{
    
}
#desert:hover{
        
        background: url('../img/desert.jpg') no-repeat center ;
}
#tropical:hover{
    background-attachment: fixed;
    background-size: cover;
    
    background:url('../img/tropical.jpg')no-repeat center;

}
.navlist{
    z-index: 10;
    position: fixed;
    right:50px;
    top: 80vh;
    list-style: none;
    
    
    li{
        a{
        color: white;
        opacity: .5;
        transition: 500ms;
        }
        a:hover{
            opacity: 1;
        }
        
    }

}
a:link{
    text-decoration: none;
    color: white;
}
a:hover{
    opacity: 1;
    cursor: pointer;
}




















