body{
    height: 5525px;
    font-family: "Helvetica",sans-serif;
    color: white;
}
h1,h2,h3{
    font-family: "Athelas",serif;
    font-size: 3em;
    margin-top:0;
}
p{
    font-family:"Athelas",serif;
    font-size: 1em;
}
.page{
    width: 100vw;
    height: 850px;
    transition: 1s;
}
.navlist{
    opacity: .4;
    z-index: 10;
    position: fixed;
    right:20px;
    top: 60vh;
    list-style: none;
    
    
    li{
        a{
        color: white;
        opacity: .5;
        transition: 500ms;
        }
        a:hover{
            opacity: 1;
        }
        
    }

}
.navlist:hover{
    opacity: 1;
}
#title{
    background: url("../img/rover.jpg");
    background-size: cover;
    background-attachment: fixed;
    
}
.arrow{
    margin: 0 auto;
    position: absolute;
    background: url('../img/arrowdown.svg') no-repeat;
    width:50px;
    height: 50px;
    top: 800px;
    right: 0;
    left: 0;

}
#exped{
    z-index: 2;
    background: url("../img/exped.jpg");
    background-size: cover;
    text-align: center;
    h2{
        margin-top: 0;
        margin: 0 auto;
        padding-top: 2vh;
        width: 80%;
    }
    p{
        font-size: 1em;
    }
    overflow: hidden;

}
.exdex{
    z-index: -5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    width: 100vw;
    margin: 0 auto;
    transition: 1s;
}
.exgr{
    font-family: "Athelas", serif;
    font-size: 2em;
    height: 600px;
    text-align: center;
    background: rgba(0,0,0,.5);
    transition: 1s ease-in;
    border-radius: 5px;
    
}
#arctic{
    
}
#arctic:hover{
        background-size: cover;
        
        background: url('../img/arctic.jpg') no-repeat center ;
}
#desert{
    
}
#desert:hover{
        
        background: url('../img/desert.jpg') no-repeat center ;
}
#tropical:hover{
    background-attachment: fixed;
    background-size: cover;
    
    background:url('../img/tropical.jpg')no-repeat center;

}
.desc{
    width: 80vw;
    margin: 0 auto;
}
#recon{
    background: url("../img/recon.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    h2{
        margin-top: 0;
    }
    p{
        font-size: 1.5em;
    }  
}
.display{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 0;
    height: 700px;
}
.miggie{
    margin: 0 auto;
    text-align: center;
    width: 100vw;
    height: 250px;
}
#sky{
    text-align: center;
} 
#surface{
    text-align: center;
}
#subsurface{
    text-align: center;
}
#recov{
    background: url("../img/ship.jpg");
    background-size: cover;
    h2{
        margin: 0 auto;
        padding-top: 40vh;
        text-align: center;
    }
    p{
        width: 70vw;
        margin: 0 auto;
        padding-top: 20px;
    }
    @include butts;
}
.recontent{
    text-align: center;
}
#extra{
    background: url("../img/extract.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    h2{
        
        padding-top: 5vh;
    }
    p{
        width: 70vw;
        margin: 0 auto;
        font-size: 1.5em;
        text-align: center;
        
    }
    ul{
        width: 30vw;
        margin: 0 auto;
        margin-top: 5vh;
        font-size: 1.5em;
        font-family: "Athelas", serif;
        list-style-type: none;
        text-align: center;
        padding-left: 0;
        background: rgba(0,0,0,.5);
        border-radius: 10px;
        box-shadow: 0px 0px 50px 30px rgba(0,0,0,.5);
        
    }
    li{
        padding: 5px;
        margin: 0 auto;
    }
    button{
        
        margin: 0 auto;
    }
    @include butts;
}
#hunts{
    background: url("../img/hunt.jpg");
    background-size: cover;
    @include butts;
    text-align: center;
    h2{
        padding-top: 5vh;
    }
    h3{
        padding-top: 10vh;
        font-size: 1.5em;
    }
    p{
        width: 40vw;
        margin: 0 auto;
    }
}
#foote{
    height: 50vh;
    
    background: black;
    background-size: cover;
}
.logo{
    position: relative;
    background: url("../img/sunlogo.svg") no-repeat center center;
    width: 30vw;
    height: 20vh;
    left: 50px;
}
.blackbox{
    z-index: 2;
    position: absolute;
    height: 850px;
    top: 0;
    bottom: 0;
    
    right: 0;
    left: 0;
    background: rgba(0,0,0,1);
    opacity: 0;
    
}
.btmlogo{
    background: url('../img/sunlogo.svg');
    
}
a:link{
    text-decoration: none;
    color: white;
}
a:hover{
    opacity: 1;
    cursor: pointer;
}
.footercontent{
    
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    h3{
        font-size: 1em;
    }
    p{
        font-size: 1em;
        position: absolute;
        top: 5450px;
        bottom: 0;
        right: 0;
        left:0;
        color: grey;
    }
    
}
.footcolumn{
    ul{
        list-style: none;
        padding-left: 0;
        li{
            margin-bottom: 10px;
            opacity: .6;
        }
    }
}
#peach{
        z-index: 1;
        height: 100vh;
        width: 40vw;
        background: rgb(18,18,18);
        color: white;
        position: fixed;
        top: 0;
        transition: all 2s;
    ul{
            width: 100%;
            padding-top: 20vh;
            padding-left: 0px;
            margin: 0 auto;
            list-style: none;
            li{
                text-align: center;
                text-decoration: none;
                opacity: 1;
                width: 100%;
                background: none;
                margin: 0 auto;
                padding-top: 5vh;
                a{
                    text-decoration: none;
                    color:white;
                    cursor: pointer;
                }
            }   
        } 
    }
.container{
    z-index: 3;
    position: fixed;
    top: 10px;
    left: 10px;
}
@media only screen and (max-width: 700px) {
    body{
        height: 630vh;
    }
    p{
        font-size: 1em;
    }

    .logo{
        width: 80vw;
        left: 0;
        right: 0;
        top: 20vh;
        margin: 0 auto;
    }
    .page{
        height: 95vh;
            h1,h2{
                font-size: 1em;
            }
            p{
                font-size: 1em;
            }
        overflow: hidden;
    }
    .navlist{
        display: none;
    }
    .blackbox{
        height: 95vh;
    }
    .arrow{
        top: 85vh;
    }
    .container {
    z-index: 10;
    display: inline-block;
    cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #ffffff;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    #exped{
        overflow: hidden;
    }
    .exdex{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
    }
    .exgr{
        height: 10vh;
    }
    .exgr:hover{
        height: 30vh;
        z-index: 5;   
    }
    #tropical:hover{
        margin-top: 0;
        #arctic{
            height: 2vh;
        }
    }
    #recon{
        h3{
            font-size: 1.5em;
        }
        p{
            font-size: 1em;
        }
        
    }
    .display{
        height: 95vh;
        grid-template-rows: repeat(3, auto);
    }
    .miggie{
        height: 20vh;
    }
    #recov{
        
    }
    #extra{
        p{
            font-size: 1em;
        }
        ul{
            li{
                font-size: .75em;
            }
        }
    }
    #hunts{
        
    }
    #foote{
        p{
            top: 620vh;
        }
    }
    .footcolumn{
        p{
            font-size: .75em;
        }
        ul{
            padding-left: 5px;
            padding-right: 5px;
            li{
                font-size: .75em;
            }
        }
        
    }
    
    
} //end query
.banana{
    left:-40vw;
}
.active{
    left: 0;
}

















